body {
    font-family: 'Public Sans', sans-serif;
}


.wrapper {
    min-height: 100%;
    overflow: hidden;
}


._container {
    max-width: 1320px;
    margin: 0 auto;
}

.instructors__title {
    margin-top: 100px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 72px;
    color: #21212F;
}

.instructors__text {
    margin-top: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #6D737A;
}

.instructors__cards {
    margin-top: 63px;
    margin-bottom: 162px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    text-align: center;
}

.instructors__cards_UI-UX {
    height: 370px;
    width: 312px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(75, 75, 75, 0.08);
    border-radius: 24px;
}

.instructors__title-small {
    margin-top: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #1B1D1F;

}

.instructors__text-small {
    margin-top: 6px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6D737A;
}

.instructors__cards_BI {
    height: 370px;
    width: 312px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(75, 75, 75, 0.08);
    border-radius: 24px;
}

.instructors__cards_Ph {
    height: 370px;
    width: 312px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(75, 75, 75, 0.08);
    border-radius: 24px;
}

.instructors__cards_SM {
    height: 370px;
    width: 312px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(75, 75, 75, 0.08);
    border-radius: 24px;
}